CONFIG_ARCH_ARM=y
CONFIG_ARCH_ARM_CPU_CORTEX_A9=y
CONFIG_ARCH_ARM_ABI_EABI=y
CONFIG_OS_LINUX=y
CONFIG_GLIBC=y
CONFIG_PLATFORM_AVIONIC_DESIGN=y
CONFIG_PLATFORM_AVIONIC_DESIGN_MEDCOM_WIDE=y
CONFIG_KERNEL_CONFIG="medcom-wide_modularized_defconfig"
CONFIG_KERNEL_SOURCE="../kernel/linux-avionic.git"
CONFIG_PACKAGE_DEVEL_GDB=y
CONFIG_PACKAGE_DEVEL_STRACE=y
CONFIG_PACKAGE_CORE_COREUTILS=y
CONFIG_PACKAGE_CORE_E2FSPROGS=y
CONFIG_PACKAGE_CORE_GREP=y
CONFIG_PACKAGE_CORE_LESS=y
CONFIG_PACKAGE_CORE_PROCPS=y
CONFIG_PACKAGE_CORE_PSMISC=y
CONFIG_PACKAGE_CORE_RSYSLOG=y
CONFIG_PACKAGE_CORE_SYSTEMD=y
CONFIG_PACKAGE_LIBS_GLIB_NETWORKING=y
CONFIG_PACKAGE_SHELLS_BASH=y
CONFIG_PACKAGE_NET_DDIP=y
CONFIG_PACKAGE_NET_DHCPCD=y
CONFIG_PACKAGE_NET_ETHTOOL=y
CONFIG_PACKAGE_NET_IFLINKD=y
CONFIG_PACKAGE_NET_IPERF=y
CONFIG_PACKAGE_NET_LLDPD=y
CONFIG_PACKAGE_NET_NTPD=y
CONFIG_PACKAGE_NET_REMOTE_CONTROL=y
CONFIG_PACKAGE_NET_REMOTE_CONTROL_AUDIO_ALSA=y
CONFIG_PACKAGE_NET_REMOTE_CONTROL_BACKLIGHT_SYSFS=y
CONFIG_PACKAGE_NET_REMOTE_CONTROL_VIDEO_GST=y
CONFIG_PACKAGE_NET_REMOTE_CONTROL_SMARTCARD_LIBSMARTCARD=y
CONFIG_PACKAGE_NET_REMOTE_CONTROL_VOIP_LINPHONE=y
CONFIG_PACKAGE_NET_REMOTE_CONTROL_MODEM_LIBMODEM=y
CONFIG_PACKAGE_NET_REMOTE_CONTROL_GPIO_SYSFS=y
CONFIG_PACKAGE_NET_REMOTE_CONTROL_JAVASCRIPT=y
CONFIG_PACKAGE_NET_RUM=y
CONFIG_PACKAGE_NET_FUSE_SSHFS=y
CONFIG_PACKAGE_NET_TCPDUMP=y
CONFIG_PACKAGE_CONSOLE_KBD=y
CONFIG_PACKAGE_CONSOLE_TMUX=y
CONFIG_PACKAGE_EDITORS_NANO=y
CONFIG_PACKAGE_EDITORS_VIM=y
CONFIG_PACKAGE_MULTIMEDIA_ALSA_UTILS=y
CONFIG_PACKAGE_MULTIMEDIA_GSTREAMER_PLUGINS_GOOD=y
CONFIG_PACKAGE_MULTIMEDIA_GSTREAMER_PLUGINS_BAD=y
CONFIG_PACKAGE_MULTIMEDIA_GSTREAMER_PLUGINS_UGLY=y
CONFIG_PACKAGE_MULTIMEDIA_GSTREAMER_PLUGINS_GLES=y
CONFIG_PACKAGE_WEB_X11VNC=y
CONFIG_PACKAGE_XORG_DRIVER_INPUT_EVDEV=y
CONFIG_PACKAGE_XORG_DRIVER_INPUT_KEYBOARD=y
CONFIG_PACKAGE_XORG_DRIVER_INPUT_MOUSE=y
CONFIG_PACKAGE_XORG_APP_EVTEST=y
CONFIG_PACKAGE_XORG_APP_SETXKBMAP=y
CONFIG_PACKAGE_XORG_APP_XINIT=y
CONFIG_PACKAGE_XORG_APP_XKBCOMP=y
CONFIG_PACKAGE_XORG_APP_XRANDR=y
CONFIG_PACKAGE_XORG_APP_XTERM=y
CONFIG_PACKAGE_XORG_DATA_XKEYBOARD_CONFIG=y
CONFIG_XORG_XV=y
CONFIG_PACKAGE_DESKTOP_EVDEV_CALIBRATE=y
CONFIG_PACKAGE_DESKTOP_ICONS_TANGO=y
CONFIG_PACKAGE_DESKTOP_NODM=y
CONFIG_PACKAGE_WM_AWESOME=y
CONFIG_PACKAGE_UTIL_ADAK=y
CONFIG_PACKAGE_UTIL_HTOP=y
CONFIG_PACKAGE_UTIL_I2C_TOOLS=y
CONFIG_PACKAGE_FONTS_TTF_BITSTREAM_VERA=y
CONFIG_PACKAGE_FONTS_TTF_FREEFONT=y
CONFIG_PACKAGE_FONTS_TTF_LIBERATION=y
CONFIG_PACKAGE_VENDOR_AVIONIC_DESIGN_MEDCOM_WIDE_UTILS=y
CONFIG_PACKAGE_VENDOR_NVIDIA_TEGRA2_FLASHPLAYER=y
CONFIG_PACKAGE_VENDOR_NVIDIA_TEGRA2_L4T=y
CONFIG_OPENGL_MESA_OPENGL_ES2=y
