mainmenu "Platform Build System"

config VERSION
	string
	default "0.1.0"

config SHELL
	string
	default "/bin/sh"
	---help---

menu "Target Configuration"
source "arch/Kconfig"
endmenu

config VIRTUAL_PROVIDES
	bool
	default y

source "packages/Kconfig"
source "platforms/Kconfig"
