mainmenu "Platform Build System"

config SHELL
	string
	default "/bin/sh"
	---help---

menu "Target Configuration"
source "arch/Kconfig"
endmenu

config VIRTUAL_PROVIDES
	bool
	default y

# The platforms are sourced before the packages to allow them to define
# their own default values for the packages options.
source "platforms/Kconfig"
source "packages/Kconfig"
