if ARCH_ARM

config ARCH
	string
	default "arm"

#
# ARM CPU selection
#
choice
	prompt "CPU"

config ARCH_ARM_CPU_GENERIC
	bool "generic"

config ARCH_ARM_CPU_XSCALE
	bool "Xscale"

config ARCH_ARM_CPU_CORTEX_A9
	bool "Cortex-A9"

endchoice

source "arch/arm/generic/Kconfig"
source "arch/arm/xscale/Kconfig"
source "arch/arm/cortex-a9/Kconfig"

#
# Endianness configuration
#
choice
	prompt "Endianness"

config ARCH_ARM_ENDIAN_LITTLE
	bool "little endian"

config ARCH_ARM_ENDIAN_BIG
	bool "big endian"

endchoice

#
# Floating point configuration
#
choice
	prompt "Floating point unit"

config ARCH_ARM_FPU_NONE
	bool "none"
	depends on ARCH_ARM_CPU_GENERIC || ARCH_ARM_CPU_XSCALE

config ARCH_ARM_FPU_NEON_VFP4
	bool "neon-vfpv4"
	depends on ARCH_ARM_CPU_GENERIC || (ARCH_ARM_EXT_NEON && ARCH_ARM_EXT_VFPV4)

config ARCH_ARM_FPU_VFPV4
	bool "vfpv4"
	depends on ARCH_ARM_CPU_GENERIC || ARCH_ARM_EXT_VFPV4

config ARCH_ARM_FPU_VFPV4_D16
	bool "vfpv4-d16"
	depends on ARCH_ARM_CPU_GENERIC || ARCH_ARM_EXT_VFPV4_D16

config ARCH_ARM_FPU_NEON
	bool "neon"
	depends on ARCH_ARM_CPU_GENERIC || ARCH_ARM_EXT_NEON

config ARCH_ARM_FPU_VFPV3
	bool "vfpv3"
	depends on ARCH_ARM_CPU_GENERIC || ARCH_ARM_EXT_VFPV3

config ARCH_ARM_FPU_VFPV3_D16
	bool "vfpv3-d16"
	depends on ARCH_ARM_CPU_GENERIC || ARCH_ARM_EXT_VFPV3_D16

config ARCH_ARM_FPU_VFP
	bool "vfp"
	depends on ARCH_ARM_CPU_GENERIC || ARCH_ARM_EXT_VFP

endchoice

choice
	prompt "Floating point ABI"

config ARCH_ARM_FLOAT_ABI_HARDFP
	bool "hardfp"
	depends on !ARCH_ARM_FPU_NONE
	select ARCH_HAS_HARD_FLOAT

config ARCH_ARM_FLOAT_ABI_SOFTFP
	bool "softfp"
	depends on !ARCH_ARM_FPU_NONE
	select ARCH_HAS_HARD_FLOAT

config ARCH_ARM_FLOAT_ABI_SOFT
	bool "soft"

endchoice


#
# ABI configuration
#
choice
	prompt "ABI"

config ARCH_ARM_ABI_OABI
	bool "OABI"

config ARCH_ARM_ABI_EABI
	bool "EABI"

endchoice

if ARCH_ARM_ABI_OABI
config ABI
	string
	default ""
endif

if ARCH_ARM_ABI_EABI
config ABI
	string
	default "eabi"
endif

#
# CPU Extensions
#
config ARCH_ARM_EXT_A
       bool

config ARCH_ARM_EXT_T
       bool

config ARCH_ARM_EXT_T2
       bool

config ARCH_ARM_EXT_E
       bool

config ARCH_ARM_EXT_J
       bool

config ARCH_ARM_EXT_Z
       bool

config ARCH_ARM_EXT_ZK
       bool

config ARCH_ARM_EXT_VFP
       bool

config ARCH_ARM_EXT_VFPV3
       bool

config ARCH_ARM_EXT_VFPV3_D16
       bool

config ARCH_ARM_EXT_NEON
       bool

config ARCH_ARM_EXT_VFPV4
       bool

config ARCH_ARM_EXT_VFPV4_D16
       bool

#
# CPU Type
#

choice
        prompt "ARM architecture"

config ARCH_ARM_ARCH_V1
       bool "v1"
       depends on ARCH_ARM_CPU_GENERIC

config ARCH_ARM_ARCH_V2
       bool "v2"
       depends on ARCH_ARM_CPU_GENERIC

config ARCH_ARM_ARCH_V3
       bool "v3"
       depends on ARCH_ARM_CPU_GENERIC

config ARCH_ARM_ARCH_V4
       bool "v4"
       depends on ARCH_ARM_CPU_GENERIC

config ARCH_ARM_ARCH_V5
       bool "v5"
       depends on ARCH_ARM_CPU_GENERIC || ARCH_ARM_CPU_XSCALE

config ARCH_ARM_ARCH_V6
       bool "v6"
       depends on ARCH_ARM_CPU_GENERIC

config ARCH_ARM_ARCH_V7
       bool "v7"
       depends on ARCH_ARM_CPU_GENERIC || ARCH_ARM_CPU_CORTEX_A9

endchoice

config ARCH_ARM_ARCH_VERSION
       string
       default "7" if ARCH_ARM_ARCH_V7
       default "6" if ARCH_ARM_ARCH_V6
       default "5" if ARCH_ARM_ARCH_V5
       default "4" if ARCH_ARM_ARCH_V4
       default "3" if ARCH_ARM_ARCH_V3
       default "2" if ARCH_ARM_ARCH_V2
       default "1" if ARCH_ARM_ARCH_V1

choice
        prompt "ARM architecture variant"

config ARCH_ARM_ARCH_NO_EXT
       bool "none"
       depends on ARCH_ARM_CPU_GENERIC

config ARCH_ARM_ARCH_V2A
       bool "armv2a" if ARCH_ARM_ARCH_V2
       select ARCH_ARM_EXT_A
       depends on ARCH_ARM_CPU_GENERIC

config ARCH_ARM_ARCH_V3M
       bool "armv3m" if ARCH_ARM_ARCH_V3
       select ARCH_ARM_EXT_M
       depends on ARCH_ARM_CPU_GENERIC

config ARCH_ARM_ARCH_V4T
       bool "armv4t" if ARCH_ARM_ARCH_V4
       select ARCH_ARM_EXT_T
       depends on ARCH_ARM_CPU_GENERIC

config ARCH_ARM_ARCH_V5T
       bool "armv5t" if ARCH_ARM_ARCH_V5
       select ARCH_ARM_EXT_T
       depends on ARCH_ARM_CPU_GENERIC

config ARCH_ARM_ARCH_V5E
       bool "armv5e" if ARCH_ARM_ARCH_V5
       select ARCH_ARM_EXT_E
       depends on ARCH_ARM_CPU_GENERIC

config ARCH_ARM_ARCH_V5TE
       bool "armv5te" if ARCH_ARM_ARCH_V5
       select ARCH_ARM_EXT_T
       select ARCH_ARM_EXT_E
       depends on ARCH_ARM_CPU_GENERIC || ARCH_ARM_CPU_XSCALE

config ARCH_ARM_ARCH_V6J
       bool "armv6j" if ARCH_ARM_ARCH_V6
       select ARCH_ARM_EXT_J
       depends on ARCH_ARM_CPU_GENERIC

config ARCH_ARM_ARCH_V6T2
       bool "armv6t2" if ARCH_ARM_ARCH_V6
       select ARCH_ARM_EXT_T2
       depends on ARCH_ARM_CPU_GENERIC

config ARCH_ARM_ARCH_V6Z
       bool "armv6z" if ARCH_ARM_ARCH_V6
       select ARCH_ARM_EXT_Z
       depends on ARCH_ARM_CPU_GENERIC

config ARCH_ARM_ARCH_V6ZK
       bool "armv6zk" if ARCH_ARM_ARCH_V6
       select ARCH_ARM_EXT_ZK
       depends on ARCH_ARM_CPU_GENERIC

endchoice


config MARCH
       default "armv7"      if ARCH_ARM_ARCH_V7
       default "armv6zk"    if ARCH_ARM_ARCH_V6ZK
       default "armv6z"     if ARCH_ARM_ARCH_V6Z
       default "armv6t2"    if ARCH_ARM_ARCH_V6T2
       default "armv6j"     if ARCH_ARM_ARCH_V6J
       default "armv6"      if ARCH_ARM_ARCH_V6
       default "armv5te"    if ARCH_ARM_ARCH_V5TE
       default "armv5e"     if ARCH_ARM_ARCH_V5E
       default "armv5t"     if ARCH_ARM_ARCH_V5T
       default "armv5"      if ARCH_ARM_ARCH_V5
       default "armv4t"     if ARCH_ARM_ARCH_V4T
       default "armv4"      if ARCH_ARM_ARCH_V4
       default "armv3m"     if ARCH_ARM_ARCH_V3M
       default "armv3"      if ARCH_ARM_ARCH_V3
       default "armv2a"     if ARCH_ARM_ARCH_V2A
       default "armv2"      if ARCH_ARM_ARCH_V2

endif
