CONFIG_ARCH_X86_64=y
CONFIG_OS_LINUX=y
CONFIG_PLATFORM_GENERIC=y
CONFIG_PLATFORM_GENERIC_TOOLCHAIN=y
CONFIG_TOOLCHAIN_LANG_OBJC=y
CONFIG_TOOLCHAIN_LANG_OBJCXX=y
CONFIG_PACKAGE_TOOLCHAIN_CCACHE=y
CONFIG_PACKAGE_TOOLCHAIN_GCC=y
CONFIG_PACKAGE_TOOLCHAIN_GDB=y
CONFIG_PACKAGE_TOOLCHAIN_LINUX_HEADERS=y
CONFIG_PACKAGE_TOOLCHAIN_MAKE=y
CONFIG_PACKAGE_TOOLCHAIN_PKGCONFIG=y
