if ARCH_X86_64

config ARCH
	string
	default "x86_64"

#
# x86-64 CPU selection
#
choice
	prompt "CPU"

config ARCH_X86_64_GENERIC
	bool "generic"

endchoice

source "arch/x86_64/generic/Kconfig"

endif
