CONFIG_ARCH_X86_I786=y
CONFIG_OS_LINUX=y
CONFIG_GLIBC=y
CONFIG_PLATFORM_GENERIC_TOOLCHAIN=y
CONFIG_TOOLCHAIN_LANG_OBJC=y
CONFIG_TOOLCHAIN_LANG_OBJCXX=y
CONFIG_PACKAGE_TOOLCHAIN_GCC=y
CONFIG_PACKAGE_TOOLCHAIN_GDB=y
CONFIG_PACKAGE_TOOLCHAIN_LIBTOOL=y
CONFIG_PACKAGE_TOOLCHAIN_MAKE=y
CONFIG_PACKAGE_TOOLCHAIN_PKGCONFIG=y
