CONFIG_ARCH_ARM=y
CONFIG_ARCH_ARM_CPU_GENERIC=y
CONFIG_ARCH_ARM_ENDIAN_LITTLE=y
CONFIG_ARCH_ARM_ABI_EABI=y
CONFIG_OS_LINUX=y
CONFIG_GLIBC=y
CONFIG_TOOLCHAIN=y
CONFIG_TOOLCHAIN_LANG_C=y
CONFIG_TOOLCHAIN_LANG_CXX=y
CONFIG_TOOLCHAIN_LANG_OBJC=y
CONFIG_TOOLCHAIN_LANG_OBJCXX=y
CONFIG_PACKAGE_TOOLCHAIN_BINUTILS=y
CONFIG_PACKAGE_TOOLCHAIN_GCC_CORE=y
CONFIG_PACKAGE_TOOLCHAIN_GCC=y
CONFIG_PACKAGE_TOOLCHAIN_GDB=y
CONFIG_PACKAGE_TOOLCHAIN_GLIBC_CLEANUP=y
CONFIG_PACKAGE_TOOLCHAIN_GLIBC_HEADERS=y
CONFIG_PACKAGE_TOOLCHAIN_GLIBC=y
CONFIG_PACKAGE_TOOLCHAIN_GMP=y
CONFIG_PACKAGE_TOOLCHAIN_LINUX_HEADERS=y
CONFIG_PACKAGE_TOOLCHAIN_MAKE=y
CONFIG_PACKAGE_TOOLCHAIN_MPC=y
CONFIG_PACKAGE_TOOLCHAIN_MPFR=y
CONFIG_PACKAGE_TOOLCHAIN_PKGCONFIG=y
CONFIG_PLATFORM_GENERIC_TOOLCHAIN=y
