choice
	prompt "Architecture"

config ARCH_X86
	bool "x86"

config ARCH_X86_64
	bool "x86_64"

config ARCH_ARM
	bool "arm"

config ARCH_BLACKFIN
	bool "blackfin"

config ARCH_MIPS
	bool "mips"

endchoice

source "arch/x86/Kconfig"
source "arch/x86_64/Kconfig"
source "arch/arm/Kconfig"
source "arch/blackfin/Kconfig"
source "arch/mips/Kconfig"

config OS
	string
	default "linux"

choice
	prompt "C runtime library"

config UCLIBC
	bool "uclibc: uClibc"

config GLIBC
	bool "glibc: GNU libc"

endchoice
