choice
	prompt "Architecture"

config ARCH_ALPHA
	bool "alpha"

config ARCH_X86
	bool "x86"
	select ARCH_HAS_HARD_FLOAT

config ARCH_X86_64
	bool "x86_64"
	select ARCH_HAS_HARD_FLOAT

config ARCH_ARM
	bool "arm"
	select ARCH_HAS_UBOOT

config ARCH_BLACKFIN
	bool "blackfin"

config ARCH_IA64
	bool "ia64"
	select ARCH_HAS_HARD_FLOAT

config ARCH_M68K
	bool "m68k"

config ARCH_MIPS
	bool "mips"

config ARCH_POWERPC
	bool "powerpc"

config ARCH_SH
	bool "sh"

config ARCH_SPARC
	bool "sparc"

config ARCH_TILE
	bool "tile"

config ARCH_UNICORE32
	bool "unicore32"

endchoice

config MARCH
        string "Machine architecture (-march)"

config ARCH_HAS_UBOOT
	bool

config ARCH_HAS_HARD_FLOAT
	bool

source "arch/alpha/Kconfig"
source "arch/x86/Kconfig"
source "arch/x86_64/Kconfig"
source "arch/arm/Kconfig"
source "arch/blackfin/Kconfig"
source "arch/ia64/Kconfig"
source "arch/m68k/Kconfig"
source "arch/mips/Kconfig"
source "arch/powerpc/Kconfig"
source "arch/sh/Kconfig"
source "arch/sparc/Kconfig"
source "arch/tile/Kconfig"
source "arch/unicore32/Kconfig"

choice
	prompt "Operating System"

config OS_NONE
	bool "None"

config OS_LINUX
	bool "Linux"

endchoice

if OS_NONE
config OS
	string
	default "none"
endif

if OS_LINUX
config OS
	string
	default "linux"

choice
	prompt "C runtime library"

config UCLIBC
	bool "uclibc: uClibc"
	depends on OS_LINUX

config GLIBC
	bool "glibc: GNU libc"
	depends on OS_LINUX

endchoice
endif
