choice CONFIG_ARCH
	prompt "Architecture"

endchoice

choice
	prompt "Toolchain"

config TOOLCHAIN_BLACKFIN_LINUX_UCLIBC
	bool "arm-linux-gnueabi"

config TOOLCHAIN_MIPS_LINUX_UCLIBC
	bool "mips-linux-uclibc"

config TOOLCHAIN_MIPSEL_LINUX_UCLIBC
	bool "mipsel-linux-uclibc"

config TOOLCHAIN_X86_64_LINUX_GNU
	bool "x86_64-linux-gnu"

config TOOLCHAIN_X86_64_LINUX_UCLIBC
	bool "x86_64-linux-uclibc"

endchoice

