CONFIG_ARCH_ARM=y
CONFIG_ARCH_ARM_CPU_CORTEX_A9=y
CONFIG_ARCH_ARM_ABI_EABI=y
CONFIG_OS_LINUX=y
CONFIG_PLATFORM_AVIONIC_DESIGN=y
CONFIG_PLATFORM_AVIONIC_DESIGN_MEDCOM_WIDE=y
CONFIG_KERNEL_CONFIG="medcom-wide_modularized_defconfig"
CONFIG_KERNEL_SOURCE="../kernel/linux-avionic.git"
CONFIG_PACKAGE_CORE_E2FSPROGS=y
CONFIG_PACKAGE_UTIL_ADAK=y
