CONFIG_ARCH_ARM=y
CONFIG_ARCH_ARM_CPU_CORTEX_A9=y
CONFIG_ARCH_ARM_ABI_EABI=y
CONFIG_ARCH_ARM_ARCH_V7=y
CONFIG_OS_LINUX=y
CONFIG_GLIBC=y
CONFIG_PLATFORM_AVIONIC_DESIGN=y
CONFIG_PLATFORM_AVIONIC_DESIGN_MEDCOM_WIDE=y
CONFIG_PLATFORM_AVIONIC_DESIGN_MEDCOM_WIDE_ROOTFS=y
CONFIG_PLATFORM_AVIONIC_DESIGN_MEDCOM_WIDE_ROOTFS_DEVEL=y
CONFIG_PLATFORM_AVIONIC_DESIGN_MEDCOM_WIDE_ROOTFS_DEBUG=y
CONFIG_PACKAGE_KERNEL_LINUX_CONFIG="medcom-wide_modularized_defconfig"
CONFIG_PACKAGE_BUILD_TOOLS_LIBXML2=y
CONFIG_PACKAGE_KERNEL_LINUX_SOURCE_LOCAL=y
CONFIG_PACKAGE_KERNEL_LINUX_SOURCE_LOCAL_PATH="../kernel/linux-avionic.git"
CONFIG_PACKAGE_LIBS_LIBDRM=y
CONFIG_PACKAGE_LIBS_TALLOC=y
CONFIG_PACKAGE_NET_REMOTE_CONTROL_AUDIO_ALSA=y
CONFIG_PACKAGE_NET_REMOTE_CONTROL_BACKLIGHT_SYSFS=y
CONFIG_PACKAGE_NET_REMOTE_CONTROL_VIDEO_GST=y
CONFIG_PACKAGE_NET_REMOTE_CONTROL_SMARTCARD_LIBSMARTCARD=y
CONFIG_PACKAGE_NET_REMOTE_CONTROL_VOIP_LINPHONE=y
CONFIG_PACKAGE_NET_REMOTE_CONTROL_MODEM_LIBMODEM=y
CONFIG_PACKAGE_NET_REMOTE_CONTROL_GPIO_SYSFS=y
CONFIG_PACKAGE_NET_REMOTE_CONTROL_WATCHDOG=y
CONFIG_PACKAGE_WEB_FREERDP=y
CONFIG_PACKAGE_WEB_WEBKIT_GTK_ENABLE_VIDEO=y
CONFIG_PACKAGE_XORG_PROTO_DRI2=y
CONFIG_PACKAGE_XORG_LIB_XDAMAGE=y
CONFIG_PACKAGE_XORG_LIB_XXF86VM=y
CONFIG_PACKAGE_DESKTOP_GTK_ENGINES=y
CONFIG_OPENGL_NVIDIA_L4T=y
