CONFIG_ARCH_X86_I686=y
CONFIG_OS_LINUX=y
CONFIG_GLIBC=y
CONFIG_PACKAGE_KERNEL_LINUX_SOURCE_LOCAL=y
CONFIG_PACKAGE_KERNEL_LINUX_SOURCE_LOCAL_PATH="../kernel/linux-net4801.git"
CONFIG_PACKAGE_KERNEL_LINUX_CONFIG="net4801_defconfig"
CONFIG_PACKAGE_CORE_BUSYBOX=y
CONFIG_PACKAGE_NET_DNSMASQ=y
