# CPU config
CONFIG_ARCH_ARM=y
CONFIG_ARCH_ARM_ABI_EABI=y
CONFIG_ARCH_ARM_ARCH_V5=y
CONFIG_ARCH_ARM_ARCH_V5TE=y
# OS
CONFIG_OS_LINUX=y
# Platform
CONFIG_PLATFORM_HONEYWELL=y
CONFIG_PLATFORM_HONEYWELL_PTIP=y
CONFIG_PLATFORM_HONEYWELL_PTIP_CLASSIC=y
# Kernel
CONFIG_PACKAGE_KERNEL_LINUX=y
CONFIG_PACKAGE_KERNEL_LINUX_SOURCE_GIT=y
CONFIG_PACKAGE_KERNEL_LINUX_SOURCE_GIT_URL="git://git.adnet.avionic-design.de/kernel/linux.git"
CONFIG_PACKAGE_KERNEL_LINUX_SOURCE_GIT_CHECKOUT="lpc32xx/ptip/3.6"
# Other apps
CONFIG_PACKAGE_VENDOR_AVIONIC_DESIGN_PTIP_DEVBUSD=y
# Debug utils
CONFIG_PACKAGE_DEVEL_GDB=y
CONFIG_PACKAGE_DEVEL_STRACE=y
CONFIG_PACKAGE_NET_TCPDUMP=y
CONFIG_PACKAGE_MULTIMEDIA_ALSA_UTILS=y
CONFIG_PACKAGE_XORG_APP_EVTEST=y
CONFIG_PACKAGE_UTIL_I2C_TOOLS=y
