CONFIG_ARCH_ARM=y
CONFIG_ARCH_ARM_ABI_EABI=y
CONFIG_OS_LINUX=y
CONFIG_PLATFORM_HONEYWELL=y
CONFIG_PLATFORM_HONEYWELL_PTIP=y
CONFIG_PLATFORM_HONEYWELL_PTIP_MURNAU=y
CONFIG_PACKAGE_KERNEL_LINUX_SOURCE_LOCAL=y
CONFIG_PACKAGE_KERNEL_LINUX_SOURCE_LOCAL_PATH="../kernel/linux-ptip.git"
CONFIG_PACKAGE_KERNEL_LINUX_CONFIG="ptip_defconfig"
CONFIG_PACKAGE_CORE_BUSYBOX=y
# CONFIG_PACKAGE_CORE_UTIL_LINUX_NCURSES is not set
CONFIG_PACKAGE_XORG_APP_EVTEST=y
CONFIG_PACKAGE_UTIL_MTD_UTILS=y
CONFIG_PACKAGE_VENDOR_AVIONIC_DESIGN_PTIP_MURNAU=y
