CONFIG_ARCH_ARM=y
CONFIG_MARCH=""
CONFIG_ARCH_ARM_CPU_CORTEX_A9=y
CONFIG_ARCH_TEGRA_2x_SOC=y
CONFIG_ARCH_ARM_HARD_FP=y
CONFIG_ARCH_ARM_ABI_EABI=y
CONFIG_ARCH_ARM_ARCH_V7=y
CONFIG_OS_LINUX=y
CONFIG_PLATFORM_SKIDATA=y
CONFIG_PLATFORM_SKIDATA_CARRIER=y
CONFIG_PLATFORM_SKIDATA_CARRIER_SETUP=y
CONFIG_PACKAGE_KERNEL_LINUX_CONFIG="skidata-carrier_defconfig"
CONFIG_PACKAGE_KERNEL_LINUX_SOURCE_GIT=y
CONFIG_PACKAGE_KERNEL_LINUX_SOURCE_GIT_URL="git@github.com:avionic-design/skidata-linux.git"
CONFIG_PACKAGE_KERNEL_LINUX_SOURCE_GIT_CHECKOUT="skidata/tamonten/l4t-r16-3"
CONFIG_PACKAGE_CORE_E2FSPROGS=y
# CONFIG_PACKAGE_CORE_UTIL_LINUX_NCURSES is not set
CONFIG_PACKAGE_LIBS_SYSFSUTILS=y
CONFIG_PACKAGE_CONSOLE_FBSET=y
CONFIG_PACKAGE_UTIL_ADAK=y
CONFIG_PACKAGE_UTIL_MTD_UTILS=y
