CONFIG_ARCH_ARM=y
CONFIG_ARCH_ARM_CPU_CORTEX_A9=y
CONFIG_ARCH_ARM_ABI_EABI=y
CONFIG_ARCH_ARM_ARCH_V7=y
CONFIG_OS_LINUX=y
CONFIG_GLIBC=y
CONFIG_PLATFORM_SKIDATA=y
CONFIG_PACKAGE_KERNEL_LINUX_CONFIG="skidata-carrier_defconfig"
CONFIG_PLATFORM_SKIDATA_CARRIER_ROOTFS=y
CONFIG_PLATFORM_SKIDATA_CARRIER_ROOTFS_DEVEL=y
CONFIG_PLATFORM_SKIDATA_CARRIER_ROOTFS_DEBUG=y
CONFIG_PACKAGE_KERNEL_LINUX_SOURCE_LOCAL=y
CONFIG_PACKAGE_KERNEL_LINUX_SOURCE_LOCAL_PATH="../kernel/linux-avionic.git"
CONFIG_PACKAGE_LIBS_MESA=y
CONFIG_OPENGL_NVIDIA_L4T=y
CONFIG_UDEV_SYSTEMD=y
