CONFIG_ARCH_ARM=y
CONFIG_ARCH_ARM_CPU_CORTEX_A9=y
CONFIG_ARCH_TEGRA_3x_SOC=y
CONFIG_ARCH_ARM_HARD_FP=y
CONFIG_ARCH_ARM_ABI_EABI=y
CONFIG_ARCH_ARM_ARCH_V7=y
CONFIG_OS_LINUX=y
CONFIG_GLIBC=y
CONFIG_PLATFORM_AVIONIC_DESIGN=y
CONFIG_PLATFORM_AVIONIC_DESIGN_TAMONTEN=y
CONFIG_PLATFORM_AVIONIC_DESIGN_TAMONTEN_TEC=y
CONFIG_PLATFORM_AVIONIC_DESIGN_TAMONTEN_TEC_ROOTFS=y
CONFIG_PACKAGE_BUILD_TOOLS_SQUASHFS=y
CONFIG_PACKAGE_KERNEL_LINUX_SOURCE_GIT=y
CONFIG_PACKAGE_KERNEL_LINUX_SOURCE_GIT_URL="https://github.com/avionic-design/linux-l4t.git"
CONFIG_PACKAGE_KERNEL_LINUX_SOURCE_GIT_CHECKOUT="tamonten/l4t-r16-3"
CONFIG_PACKAGE_KERNEL_LINUX_CONFIG="tegra_tec_ng_defconfig"
CONFIG_PACKAGE_CORE_BASE_FILES=y
CONFIG_PACKAGE_CORE_BUSYBOX=y
CONFIG_PACKAGE_CORE_COREUTILS=y
CONFIG_PACKAGE_CORE_DMIDECODE=y
CONFIG_PACKAGE_CORE_E2FSPROGS=y
CONFIG_PACKAGE_CORE_GREP=y
CONFIG_PACKAGE_CORE_LESS=y
CONFIG_PACKAGE_CORE_LM_SENSORS=y
CONFIG_PACKAGE_CORE_LOGROTATE=y
CONFIG_PACKAGE_CORE_PCIUTILS=y
CONFIG_PACKAGE_CORE_PROCPS=y
CONFIG_PACKAGE_CORE_PSMISC=y
CONFIG_PACKAGE_CORE_RSYSLOG=y
CONFIG_PACKAGE_CORE_UTIL_LINUX_PAM=y
CONFIG_PACKAGE_LIBS_JSON_GLIB=y
CONFIG_PACKAGE_SHELLS_BASH=y
CONFIG_PACKAGE_NET_BRIDGE_UTILS=y
CONFIG_PACKAGE_NET_DHCPCD=y
CONFIG_PACKAGE_NET_ETHTOOL=y
CONFIG_PACKAGE_NET_IFLINKD=y
CONFIG_PACKAGE_NET_IPERF=y
CONFIG_PACKAGE_NET_IPUTILS=y
CONFIG_PACKAGE_NET_IW=y
CONFIG_PACKAGE_NET_NET_TOOLS=y
CONFIG_PACKAGE_NET_NTPD=y
CONFIG_PACKAGE_NET_OPENSSH=y
CONFIG_PACKAGE_NET_TCPDUMP=y
CONFIG_PACKAGE_NET_WIRELESS_TOOLS=y
CONFIG_PACKAGE_NET_WPA_SUPPLICANT=y
CONFIG_PACKAGE_CONSOLE_FBSET=y
CONFIG_PACKAGE_CONSOLE_KBD=y
CONFIG_PACKAGE_CONSOLE_TMUX=y
CONFIG_PACKAGE_EDITORS_NANO=y
CONFIG_PACKAGE_EDITORS_VIM=y
CONFIG_PACKAGE_MULTIMEDIA_ALSA_UTILS=y
CONFIG_PACKAGE_MULTIMEDIA_ALSA_PLUGINS=y
CONFIG_PACKAGE_MULTIMEDIA_GLMARK2=y
CONFIG_PACKAGE_MULTIMEDIA_VLC_PLUGIN_GLES2=y
CONFIG_PACKAGE_WEB_WEBKIT_GTK_UNICODE_BACKEND_ICU=y
CONFIG_PACKAGE_WEB_WEBKIT_GTK_ENABLE_ACCELERATED_COMPOSITING=y
CONFIG_PACKAGE_WEB_X11VNC=y
CONFIG_PACKAGE_XORG_APP_EVTEST=y
CONFIG_PACKAGE_XORG_APP_SETXKBMAP=y
CONFIG_PACKAGE_XORG_APP_XAUTH=y
CONFIG_PACKAGE_XORG_APP_XINIT=y
CONFIG_PACKAGE_XORG_APP_XKBCOMP=y
CONFIG_PACKAGE_XORG_APP_XRANDR=y
CONFIG_PACKAGE_XORG_APP_XRDB=y
CONFIG_PACKAGE_XORG_APP_XSETROOT=y
CONFIG_PACKAGE_XORG_APP_XTERM=y
CONFIG_PACKAGE_XORG_DATA_XKEYBOARD_CONFIG=y
CONFIG_PACKAGE_XORG_DRIVER_INPUT_EVDEV=y
CONFIG_PACKAGE_XORG_LIB_XDAMAGE=y
CONFIG_XORG_XV=y
CONFIG_PACKAGE_DESKTOP_EVDEV_CALIBRATE=y
CONFIG_PACKAGE_DESKTOP_GTK_ENGINES=y
CONFIG_PACKAGE_DESKTOP_ICONS_TANGO=y
CONFIG_PACKAGE_DESKTOP_NODM=y
CONFIG_PACKAGE_DESKTOP_XFCE_XFCE4_SESSION=y
CONFIG_PACKAGE_DESKTOP_XFCE_XFCE4_SETTINGS=y
CONFIG_PACKAGE_DESKTOP_XFCE_XFDESKTOP=y
CONFIG_PACKAGE_DESKTOP_XFCE_XFWM4=y
CONFIG_PACKAGE_WM_OPENBOX=y
CONFIG_PACKAGE_UTIL_ADAK=y
CONFIG_PACKAGE_UTIL_FLASHTOOL=y
CONFIG_PACKAGE_UTIL_HTOP=y
CONFIG_PACKAGE_UTIL_I2C_TOOLS=y
CONFIG_PACKAGE_UTIL_MTD_UTILS=y
CONFIG_PACKAGE_FONTS_TTF_BITSTREAM_VERA=y
CONFIG_PACKAGE_FONTS_TTF_FREEFONT=y
CONFIG_PACKAGE_FONTS_TTF_LIBERATION=y
CONFIG_PACKAGE_VENDOR_AVIONIC_DESIGN_REMOTE_CONTROL=y
CONFIG_PACKAGE_VENDOR_AVIONIC_DESIGN_REMOTE_CONTROL_VIDEO_VLC=y
CONFIG_PACKAGE_VENDOR_AVIONIC_DESIGN_REMOTE_CONTROL_JAVASCRIPT=y
CONFIG_OPENGL_NVIDIA_L4T_T3=y
CONFIG_UDEV_SYSTEMD=y
