CONFIG_ARCH_TILE=y
CONFIG_OS_LINUX=y
CONFIG_GLIBC=y
CONFIG_PLATFORM_GENERIC=y
CONFIG_PLATFORM_GENERIC_TOOLCHAIN=y
CONFIG_TOOLCHAIN_LANG_OBJC=y
CONFIG_TOOLCHAIN_LANG_OBJCXX=y
CONFIG_PACKAGE_TOOLCHAIN_CCACHE=y
CONFIG_PACKAGE_TOOLCHAIN_GDB=y
CONFIG_PACKAGE_TOOLCHAIN_GLIBC_CLEANUP=y
CONFIG_PACKAGE_TOOLCHAIN_LIBTOOL=y
CONFIG_PACKAGE_TOOLCHAIN_MAKE=y
CONFIG_PACKAGE_TOOLCHAIN_PKGCONFIG=y
